{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<div class="form-group" id="homeQuestionTextArea" style="width: 28rem;">
  <label for="questionTextarea">Ask a Question about a Future Event: {{topic}}</label>
  <textarea class="form-control" id="questionTextarea" rows="2" placeholder="Ask a falsifiable question..."></textarea>
</div>

<div class="center">
  <div class="property-card">
    <a href="#">
      <div class="property-image">
        <div class="property-image-title">
          <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
        </div>
      </div></a>
    <div class="property-description">
      <h5> Card Title </h5>
      <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
    </div>
    <a href="#">
      <div class="property-social-icons">
        <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
      </div>
    </a>
  </div>
</div>

{% for obj in object_list %}

<div class="card row shadow-sm m-2 text-center" style="width: 30rem;">
  <div class="card-body ">
    <h7 class="card-title">p/{{ obj.topic }}</h7>
    <h5 class="card-title">{{ obj.question }}</h5>
    <p class="card-text">{{ obj.question.prediction }}</p>

  </div>
<!-- {{ obj.f.as_p }} -->
<div class="d-flex flex-row ">
<div class="align-middle flex-column">
  <form class="form-inline"   method ="POST" >
    {% csrf_token %}
    {{ obj.form|crispy }}

<button type="submit" class="btn btn-primary mb-2 w-15" name='submit-question-id' value='{{obj.topic}},{{obj.question.id}}'>Predict!</button>
  </form>
</div>
</div>
</div>
{% endfor %}

<script type="text/javascript">
    document.getElementById("homeQuestionTextArea").onclick = function () {
        location.href = "{% url 'pages:question-create-forum' topic %}";
    };
</script>

{% endblock %}
