{% extends 'base.html' %}
{% load static %}
<h1> Why <h1>
  <p> To promote both truth and free speech on one platform.
  A place to form a balanced worldview with all truths allowed.</p>

<h1> How </h1>

<ol>
  <li><h6> To view the predictions of others, you must predict yourself.</h6></li>
   <ul><li>This is to prevent groupthink </li></ul>
  <li><h6> Explain the reasoning behind your prediction</h6></li>
     <ul><li>This acts as an article </li></ul>
  <li><h6> When event does or does not occur, the user if given a <a href="#">score</a> based on their prediction</h6></li>
  <li><h6> The posts of users with lower scores are weighted to be at the top of the comment section</h6></li>
     <ul><li></li></ul>
  <li><h6> Over time, the most valid viewpoints rise to the top</h6></li>
  <li><h6> </h6></li>

</ol>
<img src="{%static 'images/flow.png' %}">
